@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Beta ribbon */
body:after {
  content: 'beta';
  position: fixed;
  width: 80px;
  height: 25px;
  background: rgba(255, 99, 71, 0.7);
  top: 7px;
  right: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  transform: rotate(45deg);
}


#main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This makes sure that your container is at least as tall as the viewport */
}

#content {
  flex: 1; /* This will make the content expand to fill available space, pushing the footer down */
}


/* Job page wordpress */

.job__description .wp-block-heading {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.job__description ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 1rem;
  margin-left: 1rem;
}

.job__description ol, .job__description p, .entry-content p, .entry-content ul {
  margin-bottom: 2rem;
}